main {
  height: 100vh;
  background: #606c88;
  background: linear-gradient(to right, #3f4c6b, #606c88);
}
.game {
  height: 100%;
  position: relative;
  .score {
    height: 15vh;
    display: flex;
    align-items: center;
    h2 {
      font-size: 1.3em;
      color: rgb(194, 192, 192);
    }
    span {
      font-size: 1.5rem;
      color: rgb(232, 232, 232);
    }
  }
  .intro {
    height: 60vh;
    justify-content: center;
    align-content: space-around;
    transition: opacity 0.4s ease;
    h1 {
      color: #eeee;
      text-align: center;
    }
    button {
      width: 160px;
      height: 55px;
      background-color: rgb(236, 236, 236);
      border: none;
      color: #3a3a3a;
      font-weight: 600;
      font-size: 1.2rem;
      border-radius: 6px;
    }
  }
  .match {
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease;

    h2 {
      color: rgb(214, 221, 226);
      text-align: center;
      font-size: 2.2rem;
      font-weight: 600;
      text-transform: capitalize;
    }
    .hands {
      padding: 20px !important;
      .computerhand {
        transform: rotateY(180deg);
      }
    }
    .options {
      button {
        height: 50px;
        border: none;
        background-color: rgb(236, 236, 236);
        color: #3a3a3a;
        text-transform: capitalize;
        border-radius: 6px;
        transition: 0.4s;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background-color: #606c88;
          color: white;
        }
      }
    }
  }
  .fadein {
    opacity: 1;
    pointer-events: all;
  }
  .fadeout {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes shakePlayer {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-50px);
  }
  75% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shakeComputer {
  0% {
    transform: rotateY(180deg) translateY(0);
  }
  15% {
    transform: rotateY(180deg) translateY(-50px);
  }
  25% {
    transform: rotateY(180deg) translateY(0);
  }
  35% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0);
  }
  65% {
    transform: rotateY(180deg) translateY(-50px);
  }
  75% {
    transform: rotateY(180deg) translateY(0);
  }
  85% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0);
  }
}
